body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* disables selection on different browsers */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  overflow: hidden;
  height: 100%;
}

.Apple {
  pointer-events: none;
}

.border {
  pointer-events: none;
}

.bottombar{
  height: 11vh;
}


.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.game-contents {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


#apple-clicker-canvas {
  height: 95vh;
}

#youDiedText{
  font: 32px serif;
}